<%= form_with model: [ @article, @article.comments.build ] do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.select :status, ['public','private','archived'], selected: 'public' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>