<%= form_with model: article do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :status %><br>
    <%= f.select :status, ['public','private','archived'], selected: 'public' %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>