  <h1>Articles</h1>
  <br>
  <div>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <div>
          <%= link_to article.title, article %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "New Article", new_article_path %>